<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Exercice manipulation tableau Vue</title>
    </head>
    <body>
        <section id="app">
            <ul v-for="user of users">
                <li>{{ user.firstname }}</li>
                <li>{{ user.lastname }}</li>
                <li v-if="user.age < 25" style="color:red">{{ user.age }}</li>
            </ul>
        </section>

        <script type="module" src="assets/js/index.js"></script>
    </body>
</html>